
/*estilos buscador*/
/* .btn-search{
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
} */

/* .btn-search:hover{
    background: grey;
} */

/* .input-search{
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}
.input-search:focus {
    border-color: #007bff;
  } */